body {
  font-family: 'Mali', 'Nunito Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.bold-text {
  font-weight: 700;
}

.link-text {
  text-decoration: underline;
  color: darkgreen;
  font-weight: 700;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* Experiment */

.text-gradient {
  font-weight: bolder;
  letter-spacing: 0.15rem;
  background: linear-gradient(
    270deg,
    #f3d664 5%,
    #f38e8a 23%,
    #f769b9 41%,
    #c6a8fa 59%,
    #40f8ec 88%,
    #83fb97 95%
  );
  background-image: linear-gradient(
    270deg,
    rgb(250, 226, 131) 5%,
    rgb(255, 157, 153) 23%,
    rgb(255, 165, 216) 41%,
    rgb(206, 178, 255) 59%,
    rgb(141, 253, 246) 88%,
    rgb(151, 255, 169) 95%
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: text;
  background-color: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Rating */
.rating {
  color: rgb(250, 160, 42);
  margin-bottom: 0.75rem;
}

.rating span {
  margin: 0.07rem;
}

.rating .rating-text {
  margin-left: 0.7rem;
}

/* Button */

.btn-go-back {
  font-weight: normal;
  margin: 0 0 1rem;

  border: 1px solid #343a40;
}

.textBtn {
  font-size: 1rem;
  padding: 0.2rem 0.6rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

/* Product Screen */
select.form-control {
  padding: 0.75rem;
}

div.product-section {
  margin-bottom: 1.2rem;
}

div.order-form {
  margin-bottom: 3rem;
  padding: 0 1rem 1rem;
  border: 2px solid salmon;
}

/* MarketScreen */
.market-title {
  color: grey;
  text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white;
  top: 0;
}

.market-title .market-name {
  top: 0;
  right: 0;

  margin-right: 2.5rem;
  font-size: 150%;
  padding: 0.5rem;
}

i.details-icon {
  color: darkslategray;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 2px solid darkslategray;
}

.join-market {
  font-size: 120%;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.4rem 0.8rem;
}

.join-market-sm {
  font-size: 110%;
  border: 2px solid black;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.join-market i {
  margin-right: 0.5rem;
}

/* Market Cards */
.card-market-name {
  padding: 0.5rem 0 0;
  height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-market-icons {
  text-align: right;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: gray;
}

/* New Market button */
.float-right {
  float: right;
}

.new-market {
  font-size: 0.68rem;
  letter-spacing: 1.2px;
  padding: 0.5rem;
}

/* Search Box */
.searchbox {
  min-width: 14rem;
  margin-left: auto;
}

.searchbox input {
  padding: 0.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Product component */

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 220px;
}

.card-shadow {
  box-shadow: 2px 2px 7px yellowgreen;
}

.card-item {
  display: flex;
  margin: 0.5rem;
  width: 94%;
  box-shadow: 2px 2px 7px slategrey;
}

.card-item .card-body {
  padding: 0.75rem 0 0;
}

.card-item .cardbody-top {
  display: flex;
  justify-content: space-between;
}

.card-end {
  display: flex;
  align-content: flex-end;
  flex-direction: column-reverse;
  margin-top: 1rem;
}

.card-end > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-item .prod-status {
  color: gray;
  border: 2px solid gray;
  letter-spacing: 1px;
  padding: 0.4rem;
  margin-bottom: 0;
}

.text-strike {
  text-decoration: line-through;
}

/* for order tables */

table.h-nowrap th {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-item {
    width: 45%;
  }

  .card-img {
    object-fit: cover;
    width: 100%;
    height: 140px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-item {
    width: 30%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-item {
    width: 22.5%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-item {
    width: 23%;
  }
}
